<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <ol class="breadcrumb pull-left">
                    <li class="breadcrumb-item">
                        <a routerLink="/mainPage"><i class="fa fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">New</li>
                    <li class="breadcrumb-item active">Document</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Container-fluid Ends -->
<div class="container-fluid">
    <form class="theme-form needs-validation" novalidate [formGroup]="documentForm">
        <div class="card">
            <div class="card-header">
                <h5>Create New Document</h5>
            </div>

            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label pt-0">Title <sup class="txt-danger">*</sup></label
              >
              <input
                type="docTitle"
                class="form-control"
                required
                id="validationCustom01"
                [formControl]="documentForm.controls['docTitle']"
              />

              <div
                *ngIf="
                  documentForm.controls.docTitle.touched &&
                  documentForm.controls.docTitle.errors?.required
                "
                class="text text-danger"
              >
                Title is required.
              </div>
              <div
                *ngIf="
                  documentForm.controls.docTitle.touched &&
                  documentForm.controls.docTitle.errors?.pattern
                "
                class="text text-danger"
              >
                Title must contain only numbers and letters
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleFormControlSelect9"
                >Security Level <sup class="txt-danger">*</sup></label
              >
              <select
                class="form-control digits"
                id="exampleFormControlSelect9"
                [formControl]="documentForm.controls['security_level']"
              >
                <option>Select Security level</option>
                <option *ngFor="let level of securityLevels">
                  {{ level.name }}
                </option>
              </select>
              <div
                *ngIf="
                  documentForm.controls.security_level.touched &&
                  documentForm.controls.security_level.errors?.required
                "
                class="text text-danger"
              >
                Security Level cannot be empty.
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleFormControlSelect9"
                >Visibility <sup class="txt-danger">*</sup></label
              ><br />
              <label class="switch">
                <span class="toggle-label" style="width: 50%; float: left">
                  <p *ngIf="enable == true">Private</p>
                  <p *ngIf="enable == false">Public</p>
                </span>
                <div
                  class="toggle-box custom-switches"
                  style="width: 50%; float: right"
                >
                  <ui-switch
                    [(ngModel)]="enable"
                    [formControl]="documentForm.controls['private']"
                  ></ui-switch>
                </div>
              </label>
                        </div>
                    </div>
                </div>

                <div class="form-group form-row mt-3 mb-0" [hidden]="topButtons">
                    <div class="col-md-12" style="display: inline">
                        <button class="btn btn-primary doc-button" [disabled]="!documentForm.valid" (click)="addSection()">
              Add Section
            </button>
                        <button class="btn btn-outline-primary doc-button" (click)="importSections()" [disabled]="!documentForm.valid">
              Import Template Sections
            </button>
                        <button class="btn btn-outline-primary doc-button" (click)="importDocument()" [disabled]="!documentForm.valid">
              Import Template Documents
            </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" [hidden]="newSection">
            <div>{{ sectionListArray.controls }}</div>
            <div class="col-md-11">
                <div formArrayName="sections" [dragula]="'drag-card'">
                    <div *ngFor="
              let item of sectionListArray.controls;
              let i = index;
              let last = last
            " [formGroupName]="i">
                        <div class="card" (dblclick)="getSection(i)" [className]="sectionIndex === i ? 'highlight' : 'card'">
                            <div class="card-header">
                                <div class="form-row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label class="col-form-label pt-0">Section Title <sup class="txt-danger">*</sup></label
                      >
                      <input
                        type="sectionTitle"
                        class="form-control"
                        required
                        id="validationCustom01"
                        formControlName="sec_title"
                      />
                    </div>
                    <div
                      *ngIf="
                        sectionListArray.controls[i].get('sec_title').touched &&
                        sectionListArray.controls[i].get('sec_title').errors
                          ?.required
                      "
                      class="text text-danger"
                    >
                      Section Title is required.
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleFormControlSelect9"
                        >Security Level <sup class="txt-danger">*</sup></label
                      >
                      <select
                        class="form-control digits"
                        id="exampleFormControlSelect9"
                        formControlName="security_level"
                        value="security_level"
                        [(ngModel)]="docSecurity"
                      >
                        <option
                          *ngFor="let level of securityLevels"
                          [selected]="
                            level.name === documentForm.value.security_level
                          "
                          value="{{ level.name }}"
                        >
                          {{ level.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1" *ngIf="!documentForm.value.private">
                    <div class="form-group">
                      <label for="exampleFormControlSelect9"></label>
                                            <a class="nav-link quickview-box-toggle" id="recent-activity-tab" style="
                          padding: 25%;
                          padding-top: 15% !important;
                          margin-left: 10% !important;
                        " (click)="addCollabtoSections(i)">
                                                <i class="m-0"><img
                            _ngcontent-eym-c8=""
                            alt="Manage Collaborators"
                            height="21px"
                            src="../../../../assets/fonts/user-add.png"
                            style="cursor: pointer"
                            title="Add Collaborators"
                            width="21px"
                          />
                        </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="form-group">
                                    <label class="col-form-label pt-0">Section Content</label>
                                    <ckeditor [config]="editorConfig" [editor]="Editor" formControlName="sec_content"></ckeditor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group form-row mt-3 mb-0">
                    <div class="col-md-12" style="display: inline">
                        <button type="submit" class="btn btn-primary doc-button" [disabled]="!documentForm.valid" (click)="onSubmit()">
              Create
            </button>
                        <button type="submit" class="btn btn-outline-primary doc-button" [disabled]="!documentForm.valid" (click)="saveTemplate()">
              Save as Template
            </button>
                    </div>
                    <br /><br />
                </div>
            </div>
            <div class="col-md-1 viewport">
                <div class="card buttons-card pull-right">
                    <ul class="nav nav-tabs nav-material nav-primary border-0 mb-0">
                        <li class="nav-item quickview-box">
                            <a class="nav-link quickview-box-toggle" id="friend-list-tab" (click)="addSection()">
                                <i class="icon-plus m-0" title="Add new Section"></i>
                            </a>
                        </li>
                        <li class="nav-item quickview-recent-activity">
                            <a class="nav-link quickview-box-toggle" id="recent-activity-tab" (click)="importSections()">
                                <i class="icon-cloud-down m-0" title="Import Sections"></i>
                            </a>
                        </li>
                        <li class="nav-item quickview-recent-activity">
                            <a class="nav-link quickview-box-toggle" id="recent-activity-tab" (click)="removeSection()">
                                <i class="icon-trash m-0" title="Double click on a Section">
                </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>