.fontsize {
    font-size: 1.2rem;
}

.docname{
    font-size: 1.3rem;
    font-weight: 550;
    cursor: default;
    color: #1a73e8 !important;
}

.footer{
    padding: 18px !important;
    cursor: default;
    .btn {
        padding: 0 !important;
        cursor: default !important;
    }
}

.marginleft {
    margin-left: 2rem ;
}

.image {
    font-size: 25px !important;
    color: #1a73e8 !important;
}

@media screen and (max-width: 768px) {
    .container-fluid{
        width:95% !important;
    }
}

.bugoflowh {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor:pointer;
}

// Full Grid View SCSS Starts
.icon-lists li {
    display: inline-block;
    margin: 2%;
}

.navs-icon {
    padding: 10px;
}

.navs-icon li {
    padding: 0;
}

.button-body {
    padding:30px 0;
}

.profile-dropdown .document-buttons, .profile-dropdown li {
    display: inline-block;
    margin: 2%;
    text-align: center;
}

.document-buttons i{
    font-size:16px;
}

.document-buttons a:hover{
    color:#AB8CE4;
}

.doucmentStatus {
    text-align: right;
    padding-top: 2%;
    padding-right: 3%;
    margin-bottom: 0;
}

ul > li, ul li.mat-menu-item {
    margin:0 20px;
    line-height:20px !important;
}

.profile-dropdown {
    text-align: right;
}
// Full Grid View SCSS Ends


