<app-component-loader *ngIf="!singleDocumentData"></app-component-loader>

<!-- Container-fluid Starts -->
<div class="container-fluid mb-4" id="pageStarts" *ngIf="singleDocumentData">
    <!-- Page Header Starts -->
    <div class="page-header col-lg-10 col-md-10 col-xs-12 col-sm-12">
        <div class="row">
            <div class="col-lg-5">
                <ol class="breadcrumb pull-left">
                    <li class="breadcrumb-item">
                        <a routerLink="/mainPage"><i class="fa fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">Templates</li>
                    <li class="breadcrumb-item">Documents</li>
                    <li class="breadcrumb-item active">Preview</li>
                </ol>
                <h3>&nbsp;</h3>
            </div>
        </div>
    </div>
    <!-- Page Header Ends -->

    <div class="row" *ngIf="singleDocumentData">
        <!-- Document Content Starts -->
        <div class="col-lg-12 col-md-10 col-xs-12 col-sm-12" id="pageStart2">
            <!-- Card -->
            <div class="card" id="docCard">
                <div class="page-header card-header" id="card-headerr">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>
                                <span class="mr-4">{{
                  singleDocumentData.doc_template_title
                }}</span>
                            </h3>
                        </div>
                        <div class="col-md-4">
                            <a (click)="back()" class="btn-link pull-right">
                                <i class="fa fa-angle-left"></i> &nbsp;&nbsp; Go Back</a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form [formGroup]="documentForm">
                        <!-- Document -->

                        <div class="row">
                            <!-- Document Title -->
                            <div class="col-md-5 mb-3">
                                <label for="title" class="textbold">Title</label>
                                <input type="text" class="form-control" placeholder="{{ singleDocumentData?.doc_template_title }}" [value]="singleDocumentData?.doc_template_title" [formControl]="documentForm.controls['doc_template_title']" [readonly]="!isEditable || !editTitle" />
                            </div>
                            <!-- Security -->
                            <div class="col-md-3 mb-3">
                                <label for="docTemp_security_level" class="textbold">Security</label
                >
                <select
                  class="form-control digits"
                  id="exampleFormControlSelect9"
                  [formControl]="
                    documentForm.controls['docTemp_security_level']
                  "
                  *ngIf="isEditable && editTitle"
                >
                  <option>Select Security level</option>
                  <option *ngFor="let level of securityLevels">
                    {{ level.name }}
                  </option>
                </select>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Security"
                  [value]="singleDocumentData?.docTemp_security_level"
                  readonly
                  *ngIf="!isEditable || !editTitle"
                />
              </div>
              <!-- Visiblity -->
              <div class="col-md-3 mb-4">
                <label for="visiblity" class="textbold">Visiblity</label>
                                <div class="border" *ngIf="!isEditable || !editTitle">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" [checked]="
                        documentForm.controls['docTemp_isPrivate'].value
                      " disabled />
                                        <label class="custom-control-label" for="customSwitches">{{
                      singleDocumentData && singleDocumentData.docTemp_isPrivate
                        ? "Private"
                        : "Public"
                    }}</label>
                                    </div>
                                </div>
                                <label class="switch" *ngIf="isEditable && editTitle">
                  <span class="toggle-label" style="width: 50%; float: left"
                    ><p *ngIf="documentForm.value.docTemp_isPrivate">Private</p>
                    <p *ngIf="!documentForm.value.docTemp_isPrivate">Public</p>
                  </span>
                  <div
                    class="toggle-box custom-switches"
                    style="width: 50%; float: right"
                  >
                    <ui-switch
                      id="visible"
                      [(ngModel)]="documentForm.value.docTemp_isPrivate"
                      [formControl]="documentForm.controls['docTemp_isPrivate']"
                    ></ui-switch>
                  </div>
                </label>
                            </div>

                            <div class="col-md-1">
                                <span *ngIf="
                    singleDocumentData.doc_template_owner.id == loginUserId
                  ">
                  <i
                    class="icon-pencil-alt txt-primary m-2"
                    style="cursor: pointer; font-size: 18px; line-height: 5"
                    *ngIf="!isEditable"
                    title="Edit"
                    (click)="isEditable = true; editTitle = true"
                  ></i>
                </span>
                                <span *ngIf="
                    singleDocumentData.doc_template_owner.id == loginUserId
                  ">
                  <i
                    class="icon-save txt-primary m-2"
                    style="cursor: pointer; font-size: 18px; line-height: 5"
                    *ngIf="isEditable || editTitle"
                    title="Edit"
                    (click)="updateTitle()"
                  ></i>
                </span>
                            </div>
                        </div>

                        <!-- Collaborators list -->
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <span class="mb-3 mr-2 badge badge-pill badge-light f-14 f-w-400" *ngFor="let collaborator of singleDocumentData?.shared_users">
                  <span *ngIf="collaborator?.first_name">
                    {{ collaborator?.first_name }}&nbsp;&nbsp;{{
                      collaborator?.last_name
                    }}
                  </span>
                                </span>
                                <span class="mb-3 mr-2 badge badge-pill badge-light f-14 f-w-400" *ngFor="
                    let collaborator of singleDocumentData?.unregisteredUsers
                  ">
                  <span>
                    {{ collaborator }}
                  </span>
                                </span>
                            </div>
                        </div>

                        <!-- Content -->
                        <div class="row" *ngIf="singleDocumentData?.sections_template_list.length">
                            <div class="col-md-6">
                                <h6 class="my-0 mb-3 textbold">Content&nbsp;&nbsp;</h6>
                            </div>

                            <!-- Expand / Collapse All -->
                            <div class="col-md-6">
                                <a href="javascript:void(0)" class="pull-right" *ngIf="!hideExpand" (click)="acc.expandAll(); hideExpand = true">Expand All</a
                >
                <a
                  href="javascript:void(0)"
                  class="pull-right"
                  *ngIf="hideExpand"
                  (click)="acc.collapseAll(); hideExpand = false"
                  >Collapse All</a
                >
              </div>

              <!-- Section content -->
              <div class="col-md-12 mr-3 mb-4" formArrayName="sectionDetails">
                <ngb-accordion #accordion #acc="ngbAccordion">
                  <ngb-panel
                    [id]="section.id"
                    *ngFor="
                      let section of singleDocumentData?.sections_template_list;
                      let i = index
                    "
                  >
                    <ng-template ngbPanelHeader>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <button ngbPanelToggle class="btn btn-link p-0">
                          <i
                            class="icon-lock txt-primary m-1"
                            title="Private"
                            *ngIf="section.template_isPrivate"
                          ></i>
                          <i
                            class="icon-unlock txt-primary m-1"
                            title="Public"
                            *ngIf="!section.template_isPrivate"
                          ></i>
                          {{ section.template_title }}
                        </button>
                        <button class="btn btn-link p-0">
                          <i
                            class="icon-pencil-alt txt-primary"
                            style="cursor: pointer"
                            title="Edit {{ section.template_title }}"
                            (click)="
                              acc.expand(section.id);
                              hideExpand = true;
                              section.isEditable = true;
                              getSection()
                            "
                          ></i>
                        </button>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <div [formGroupName]="i" *ngIf="section.isEditable">
                        <ckeditor
                          [config]="editorConfig"
                          formControlName="template_content"
                          [editor]="Editor"
                        >
                        </ckeditor>
                      </div>
                      <span
                        [innerHtml]="section.template_content"
                        *ngIf="!section.isEditable"
                      >
                      </span>
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>
              </div>
            </div>

            <!-- Approve/Reject/Update Button -->
            <div class="row">
              <div class="mb-1 col-md-12">
                <button
                  class="btn btn-primary btn-sm document-buttonsml-1 pull-right m-1"
                  type="button"
                  *ngIf="isEditable && !editTitle"
                  (click)="cancelEdit()"
                >
                  Reset
                </button>

                <button
                  class="btn btn-primary btn-sm document-buttonsml-1 pull-right m-1"
                  type="button"
                  *ngIf="isEditable && !editTitle"
                  (click)="updateDocTemplate(documentForm)"
                >
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Document Contnent Ends -->
  </div>
</div>
<!-- Container-fluid Ends -->