<div class="container" *ngIf="!action">
    <div class="card">
        <div class="card-header">
            <h5>
                {{ docname ? docname : title }}
                <button type="button" class="close" (click)="closeModel()">
          <span>&times;</span>
        </button>
            </h5>
        </div>
        <div class="card-body">
            <form class="theme-form needs-validation" novalidate [formGroup]="validationForm" (ngSubmit)="onSubmit()" *ngIf="!action || action === 'up-date'">
                <div class="form-row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="col-form-label pt-0">Collaborators <sup class="txt-danger">*</sup></label
              >
              <tag-input
                [theme]="'bootstrap'"
                [separatorKeyCodes]="[32, 188]"
                [addOnPaste]="true"
                [pasteSplitPattern]="','"
                [validators]="validators"
                [addOnBlur]="true"
                [formControl]="validationForm.controls['collabMail']"
                (onRemove)="removeEmail($event)"
                (onAdd)="emailCheck($event)"
              >
              </tag-input>
              <div
                class="text-danger"
                style="position: absolute;"
                *ngIf="duplicateEmail"
              >
                Duplicate email found.
              </div>
              <div
                *ngIf="
                  (validationForm.controls.collabMail.touched || submitForm) &&
                  validationForm.controls.collabMail.errors?.required
                "
                class="text text-danger"
              >
                EmailID is required.
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label class="col-form-label pt-0"
                >Access<sup class="txt-danger">*</sup></label
              >
              <select
                class="digits form-control"
                [formControl]="validationForm.controls['permission']"
              >
                <option value="null" disabled hidden>-- Select --</option>
                <option
                  *ngFor="let access of accessLevels"
                  [value]="access.value"
                  >{{ access.type }}</option
                >
              </select>
              <div
                *ngIf="
                  (validationForm.controls.permission.touched || submitForm) &&
                  validationForm.controls.permission.errors?.required
                "
                class="text text-danger"
              >
                Access Level is required.
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <button
                type="submit"
                class="btn-primary btn pull-right"
                style="margin-top: 17%;"
                [disabled]="disableButton()"
              >
                <span>Add More </span>&nbsp;<i
                  class="fa fa-spin fa-circle-o-notch"
                  *ngIf="disableButton()"
                ></i>
              </button>
             
            </div>
          </div>
          
        </div>
      </form>

      <div class="table-responsive table-sm" [hidden]="collabTable">
        <div style="max-height: 300px; overflow: auto;">
          <ng2-smart-table
            [settings]="settings"
            [source]="collabSource"
            (deleteConfirm)="deleteConfirmation($event)"
            (editConfirm)="editCollaborators($event)"
          ></ng2-smart-table>
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="btn-primary btn"
            style="margin-top: 17%;"
            (click)="shareCollab('Added Collaborators Successfully')"
          >
            Share
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="action">
  <div class="card">
    <div class="card-header">
      <h5>
        {{ docname ? docname : title }}
        <span class="m-1" *ngIf="docDetail?.docSectionName"
          >( SECTION TITLE : &nbsp;{{ docDetail?.docSectionName }}&nbsp;)</span
        >

        <button type="button" class="close" (click)="closeModel()">
          <span>&times;</span>
        </button>
      </h5>
      <h6 *ngIf="docDetail?.docSectionName"></h6>
    </div>
    <div class="card-body">
      <form
        class="theme-form needs-validation"
        novalidate
        [formGroup]="validationForm"
        (ngSubmit)="onSubmit()"
        *ngIf="action === 'up-date'"
      >
        <div class="form-row">
          <div class="col-md-7">
            <div class="form-group">
              <label class="col-form-label pt-0"
                >Collaborators <sup class="txt-danger">*</sup></label
              >
              <tag-input
                [theme]="'bootstrap'"
                [separatorKeyCodes]="[32, 188]"
                [addOnPaste]="true"
                [pasteSplitPattern]="','"
                [validators]="validators"
                [addOnBlur]="true"
                [formControl]="validationForm.controls['collabMail']"
                (onRemove)="removeEmail($event)"
                (onAdd)="emailCheck($event)"
              >
              </tag-input>
              <div
                class="text-danger"
                style="position: absolute;"
                *ngIf="duplicateEmail"
              >
                Duplicate email found.
              </div>
              <div
                *ngIf="
                  (validationForm.controls.collabMail.touched || submitForm) &&
                  validationForm.controls.collabMail.errors?.required
                "
                class="text text-danger"
              >
                EmailID is required.
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label class="col-form-label pt-0"
                >Access<sup class="txt-danger">*</sup></label
              >
              <select
                class="digits form-control"
                [formControl]="validationForm.controls['permission']"
              >
                <option value="null" disabled hidden>-- Select --</option>
                <option
                  *ngFor="let access of accessLevels"
                  [value]="access.value"
                  >{{ access.type }}</option
                >
              </select>
              <div
                *ngIf="
                  (validationForm.controls.permission.touched || submitForm) &&
                  validationForm.controls.permission.errors?.required
                "
                class="text text-danger"
              >
                Access Level is required.
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <button
                type="submit"
                class="btn-primary btn pull-right"
                style="margin-top: 17%;"
                [disabled]="disableButton()"
              >
                <span>Share </span
                ><i
                  class="fa fa-spin fa-circle-o-notch"
                  *ngIf="disableButton()"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </form>

      <div class="table-responsive table-sm">
        <div style="max-height: 300px; overflow: auto;">
          <ng2-smart-table
            [settings]="settings"
            [source]="collabSource"
            (deleteConfirm)="deleteConfirmation($event)"
            (editConfirm)="editCollaborators($event)"
          ></ng2-smart-table>
        </div>
      </div>
    </div>
  </div>
</div>