<div class="container-fluid">
    <!--Reset Password page start-->
    <div class="authentication-main">
        <div class="row">
            <!--  <div class="col-md-4 p-0">
                <div class="auth-innerleft">
                    <div class="text-center">
                        <p class="img-fluid security-icon vesta-header txt-primary">
                            Vesta
                        </p>
                    </div>
                </div>
            </div> -->

            <div class="col-md-12 p-0">
                <div class="auth-innerright">
                    <div class="authentication-box">
                        <p style="text-align: center">
                            <img class="img-fluid security-icon vesta-header txt-primary" src="../../../../assets/icons/logo.png" />
                        </p>
                        <h3 style="text-align: center">FORGOT YOUR PASSWORD ?</h3>
                        <div class="card mt-4 p-4">
                            <form class="theme-form needs-validation" novalidate (ngSubmit)="onSubmit()">
                                <h5 class="f-16 mb-3">SEND RESET PASSWORD LINK</h5>
                                <div class="form-group">
                                    <label class="col-form-label">Email</label>
                                    <input type="email" class="form-control" required id="validationCustom01" [formControl]="emailForm.controls['email']" [readonly]="!securityQue" />

                                    <div *ngIf="
                      emailForm.controls.email.touched &&
                      emailForm.controls.email.errors?.required
                    " class="text text-danger">
                                        Email ID is required.
                                    </div>
                                    <div *ngIf="
                      emailForm.controls.email.touched &&
                      emailForm.controls.email.errors?.pattern
                    " class="text text-danger">
                                        Email ID must be like test@domain.com.
                                    </div>
                                </div>
                                <div [hidden]="securityQue">
                                    <div class="form-group">
                                        <label class="col-form-label">{{ que1 }} </label>
                                        <input type="password" class="form-control" placeholder=" " required id="validationCustom01" [formControl]="validationForm.controls['securityAns']" />

                                        <div *ngIf="
                        validationForm.controls.securityAns.touched &&
                        validationForm.controls.securityAns.errors?.required
                      " class="text text-danger">
                                            Please answer the question
                                        </div>
                                    </div>
                                    <div class="form-group form-row mb-0">
                                        <div class="col-md-2">
                                            <button type="submit" class="btn btn-primary" [disabled]="!validationForm.valid">
                        Send
                      </button>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="text-right mt-2 m-l-20">
                                                Are you already user?&nbsp;&nbsp;<a routerLink="/" class="btn-link text-capitalize">Login</a
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group form-row mb-0" [hidden]="hideButton">
                  <div class="col-md-2">
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="showQue()"
                      [disabled]="!emailForm.valid"
                    >
                      Submit
                    </button>
                  </div>
                  <div class="col-sm-10">
                    <div class="text-right mt-2 m-l-20">
                      Are you already user?&nbsp;&nbsp;<a
                        routerLink="/"
                        class="btn-link text-capitalize"
                        >Login</a
                      >
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Reset Password page end-->
</div>