<!-- Container starts -->
<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-12" style="text-align: center !important">
        <ol class="breadcrumb" style="text-align: center !important">
          <div class="logo-wrapper">
            <a href="#">
              <p class="image-dark">
                <img src="../../../assets/icons/logo.png" />
              </p>
            </a>
          </div>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container Ends -->
<!-- Container starts -->
<div class="container">
  <div class="card preview-card">
    <div>
      <div class="card-header">
        <h4>Terms and Privacy</h4>
      </div>
      <div class="card-body">
        <section
          class="comment-box overflow-auto"
          style="max-height: 500px; text-align: center"
        >
          <ul>
            <li>
              <div class="media align-self-center">
                <div class="media-body">
                  <p>
                    ProGloBix LLC (dba Vesta One) collects and uses your
                    information in connection with its mobile applications,
                    websites, online services, and otherwise in your
                    interactions with ProGloBix LLC (together “Services”)
                    according to this privacy policy (“Privacy Policy”).
                  </p>
                  <br />
                  <p>
                    For information about our privacy practices related to data
                    from children, please see “Special Note About Children’s
                    Privacy” below.
                  </p>
                  <br />
                  <p>
                    All ProGloBix LLC Services are governed by this Privacy
                    Policy and by using or accessing a Service you give consent
                    to the processing, use and disclosure of your data. Please
                    do not install or use the Services if you do not agree to
                    this Privacy Policy.
                  </p>
                  <br />
                  <p>
                    ProGloBix LLC may change this Privacy Policy from time to
                    time. If ProGloBix LLC makes any changes, we will notify you
                    by revising the “Last Updated” date at the top of this
                    Privacy Policy and, in some cases, we may provide you with
                    additional notice (such as adding a statement to our
                    homepage or sending you an email notification). Your use of
                    any of the Services after the posting of such changes shall
                    constitute your consent to such changes.
                  </p>
                </div>
              </div>
            </li>
            <!--1-->
            <li>
              <div class="media align-self-center">
                <div class="media-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="mt-0" style="text-align: left">
                        1. How We Collect Your Data and How We Use It
                      </h6>
                    </div>
                  </div>
                  <p>
                    Personal data we may collect from you includes your name,
                    username, email address, your picture, postal address, phone
                    number, and any contact or other information you choose to
                    provide. Likely situations when you make personal data
                    available to ProGloBix LLC include, but are not limited to:
                    (i) by using ProGloBix LLC’s mobile apps or visiting our
                    websites, (ii) registration for Services, contests and
                    special events; (iii) accessing Services using a third party
                    ID, such as social networking sites; (iv) subscribing to
                    newsletters; (v) using “tell a friend,” “email this page,”
                    or other similar features; (vi) requesting technical
                    support; and (vii) otherwise through use of ProGloBix LLC
                    Services where personal data is required for use and/or
                    participation.
                  </p>
                  <br />
                  <p>
                    ProGloBix LLC may supplement your data with data received
                    from third parties in connection with demographic,
                    advertisement, market and other analytics surveys or
                    services. A full list of third party operators is below.
                  </p>
                  <br />
                  <p>
                    <span>Email address: </span>Brief allows you to login with
                    your email address. Your email address is a unique
                    identifier of you as a user within our system and allows us
                    to secure your data. Your email address will also be used as
                    a primary means of communication for us on anything related
                    to changes to the App and Service such as Privacy Policy,
                    Terms of Use, or core functionality of our App or Service.
                    We may also occasionally contact you for marketing purposes
                    and it will be in our legitimate interests to do so, but you
                    will always have a chance to opt out of such marketing
                    communications for similar products and/or services anytime.
                    Your email is safe and we do not share it with third
                    parties.
                  </p>
                  <br />
                  <p>
                    <span>Phone number: </span>Brief allows you to login with
                    your phone number. Your phone number is a unique identifier
                    of you as a user within our system and allows us to secure
                    your data. Your phone number is safe and we do not share it
                    with third parties.
                  </p>
                  <br />
                  <p>
                    <span>OAuth login:</span> Brief allows you to login via
                    Oauth service provided by Google.
                  </p>
                  <br />
                  <p>
                    <span>Identity of a team you join:</span> To make Brief
                    Services possible, we allow you and your colleagues to
                    create teams (or Hub’s) within the Service. It allows you to
                    have a secure space where you share information such as
                    shared documents, private discussions, links and media. Team
                    identity is necessary in order to associate you with that
                    specific team as well as secure your information from people
                    who are not a part of your team. Our system creates a record
                    about the team or Hub only when you create one.
                  </p>
                  <br />
                  <p>
                    Some technical details are also collected in order for our
                    App and Service to function properly. This data can’t be
                    used to directly identify you. We will make every reasonable
                    effort to keep this data safe and secure.
                  </p>
                  <br />
                  <p>
                    <span>Contacts: </span> Brief uses your contacts list to
                    allow you to quickly and conveniently invite your contacts
                    and notifies you when any of your contacts signup with Brief
                    so you can contact them right away. Brief never uses this
                    data to send any unsolicited messages to your contacts,
                    neither Brief shares this data with any third parties.
                  </p>
                  <br />
                  <p>
                    <span> IP address: </span>Core functionality of our Product
                    is based on connection to the Internet. That is why our App
                    and Service won’t properly function without Internet
                    connection. Your IP address is a unique identifier that lets
                    you connect to the Internet and our service will log
                    connections for security and troubleshooting purposes.
                  </p>
                  <br />
                  <p>
                    <span
                      >APNS device token (Apple Push Notification Service):
                    </span>
                    Push notifications allow you to get immediate updates about
                    new messages or private task comments in your Brief account.
                    You’re free to enable or disable them during initial App
                    setup or later using your device’s system preferences.
                  </p>
                  <br />
                  <p>
                    <span>App token assigned by us:</span> This token allows us
                    to identify your device in our system and troubleshoot
                    potential issues you might experience.
                  </p>
                  <br />
                  <p>
                    <span>Device, App version, iOS version information:</span>
                    We need to have this information so the App functions
                    properly on your specific device.
                  </p>
                  <br />
                  <p>
                    <span
                      >Statistical information with regards to App usage:
                    </span>
                    In order to better understand general app usage patterns,
                    improve the Product and its user experience, Brief collects
                    general statistical information about the usage of the
                    Product. Collecting such data helps us optimize the App in
                    future updates and such usage does not affect your rights
                    and freedoms and does not disclose any personal data of
                    yourself or your contacts.
                  </p>
                  <br />
                  <p>
                    <span>Logs: </span> We collect this information to prevent
                    fraud and potential unauthorized access to your personal
                    information, ensuring the technical availability and
                    security of the App. The server that hosts the App may
                    record requests your device makes to the server, the details
                    on device and browser you use, your IP address, date and
                    time of access, city and country, operating system, browser
                    type, mobile network information. This data is used only for
                    technical purposes – that is, to ensure the proper
                    functioning and security of the App and to investigate
                    possible security incidents.
                  </p>
                  <br />
                  <p>
                    <span> Cookie information: </span> This information is
                    necessary for the Brief. Cookies allows us to identify you
                    as a member of the team and prevent unauthorized access to
                    your team by other users. All of this information is stored
                    locally on your device.
                  </p>
                </div>
              </div>
            </li>
            <!--2-->
            <li>
              <div class="media align-self-center">
                <div class="media-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="mt-0" style="text-align: left">
                        2. Ad Serving Technology
                      </h6>
                    </div>
                  </div>
                  <p>
                    ProGloBix LLC reserves the right to use and disclose the
                    collected, non-personal data for purposes of advertising by
                    ProGloBix LLC or ProGloBix LLC’s partners.
                  </p>
                  <br />
                  <p>
                    ProGloBix LLC may employ third party ad serving technologies
                    that use certain methods to collect information as a result
                    of ad serving through Services.
                  </p>
                  <br />
                  <p>
                    ProGloBix LLC or third parties operating the ad serving
                    technology may use demographic and geo-location information
                    as well as information logged from your hardware or device
                    to ensure that relevant advertising is presented within the
                    Service. ProGloBix LLC or third parties may collect and use
                    data, for such purposes, including but not limited to, data
                    such as IP address, Device ID, MAC address, installed
                    software, application usage data, hardware type, Operating
                    System information, browser information, unique identifiers
                    in browser cookies, Flash cookies, and HTML5 local storage,
                    Internet and on-line usage information and in-app
                    information. The foregoing data may be used and disclosed in
                    accordance with this Privacy Policy.
                  </p>
                </div>
              </div>
            </li>
            <!--3-->
            <li>
              <div class="media align-self-center">
                <div class="media-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="mt-0" style="text-align: left">
                        3. Analytics
                      </h6>
                    </div>
                  </div>
                  <p>
                    ProGloBix LLC uses your information to perform its own
                    analytics and to enable analytics provided by third parties.
                    We use analytical information for supporting business
                    analysis and operations, business intelligence, product
                    development, improving products and services, personalizing
                    content, providing advertising, and making recommendations.
                    ProGloBix LLC may also use third-parties, such as a
                    Appsflyer, Firebase in order to develop and analyze use of
                    the Services. For more information about Appsflyer, Firebase
                    and its services please see
                    <a
                      class="btn-link"
                      target="”_blank”"
                      href="https://appsflyer.com/"
                      >https://appsflyer.com/</a
                    >and
                    <a
                      class="btn-link"
                      target="”_blank”"
                      href="https://www.mobileapptracking.com/"
                      >https://www.mobileapptracking.com/</a
                    >.
                  </p>
                </div>
              </div>
            </li>
            <!--4-->
            <li>
              <div class="media align-self-center">
                <div class="media-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="mt-0" style="text-align: left">
                        4. Disclosure and Transfer of Personal Data
                      </h6>
                    </div>
                  </div>
                  <p>
                    Personal data may be disclosed to third parties in
                    accordance with applicable legislation and this Privacy
                    Policy in order to provide, operate, maintain and improve
                    the Services.
                  </p>
                  <br />
                  <p>
                    ProGloBix LLC may use third parties to collect or process
                    personal data on ProGloBix LLC’s behalf and according to
                    ProGloBix LLC’s instructions, which third parties may
                    include vendors, consultants and other service providers.
                    ProGloBix LLC is not liable for the acts and omissions of
                    these third parties.
                  </p>
                  <br />
                  <p>
                    ProGloBix LLC may also disclose your personal data to third
                    parties when ProGloBix LLC has a reason to believe that a
                    disclosure is necessary to address potential or actual
                    injury or interference with ProGloBix LLC’s rights,
                    property, operations, users or others who may be harmed or
                    may suffer loss or damage, or ProGloBix LLC believes that
                    such disclosure is necessary to protect ProGloBix LLC’s
                    rights, combat fraud and/or comply with a judicial
                    proceeding, court order, or legal process served on
                    ProGloBix LLC. To the extent permitted by applicable law,
                    ProGloBix LLC will make reasonable efforts to notify you of
                    such disclosure through ProGloBix LLC’s website orin another
                    reasonable manner.
                  </p>
                  <br />
                  <p>
                    ProGloBix LLC may share your personal data, including when
                    you choose to use collaboration features in the Services
                    that by their nature support sharing with third parties who
                    you choose. Your name, email address, information from your
                    profile and online account (including your photo), and any
                    other content you choose to share will be shared with such
                    third parties, and such third parties may communicate with
                    you (such as by posting comments or emailing you) in
                    connection with your use of the collaboration features of
                    the Services.
                  </p>
                </div>
              </div>
            </li>
            <!--5-->
            <li>
              <div class="media align-self-center">
                <div class="media-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="mt-0" style="text-align: left">
                        5. Data Retention and Correctness
                      </h6>
                    </div>
                  </div>

                  <p>
                    ProGloBix LLC retains the collected data for the period
                    necessary to fulfill the purposes outlined in this Privacy
                    Policy unless a longer retention period is required or
                    permitted by law. Thereafter ProGloBix LLC deletes all
                    aforementioned data in its possession within a reasonable
                    timeframe. ProGloBix LLC does not verify the correctness of
                    personal data.
                  </p>
                  <br />
                  <p>
                    Please note that some data may be further retained if
                    necessary to resolve disputes, enforce ProGloBix LLC user
                    agreements, and comply with technical and legal requirements
                    and constraints related to the security, integrity and
                    operation of Services.
                  </p>
                </div>
              </div>
            </li>
            <!--6-->
            <li>
              <div class="media align-self-center">
                <div class="media-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="mt-0" style="text-align: left">
                        6. Cookies, Beacons and Tracking
                      </h6>
                    </div>
                  </div>

                  <p>
                    We may use “cookies” and other technologies such as pixel
                    tags, local shared objects, hardware-based device
                    identifiers, Operating System-based identifiers, clear GIFs
                    and web beacons. ProGloBix LLC treats information collected
                    by cookies and similar technologies as non-personal data.
                  </p>
                  <br />
                  <p>
                    <span>Cookies:</span> A “cookie” is a small file stored by
                    your browser when told to do so by a website. Typically
                    websites place a number of different cookies on an
                    end-user’s machine. Some of the cookies are “1st Party,”
                    from the website itself, and others are “3rd party,”
                    belonging to advertising and analytics entities or social
                    networks. ProGloBix LLC’s cookies do not include personal
                    data and are typically used to quickly identify your device
                    and to “remember” your browser during subsequent visits for
                    purposes of functionality, preferences, and website
                    performance. You can disable cookies or set your browser to
                    alert you when cookies are being sent to your device;
                    however, disabling cookies may affect your ability to use
                    the Services.
                  </p>
                  <br />
                  <p>
                    <span> Flash cookies & HTML5:</span> ProGloBix LLC may also
                    use Flash cookies (local shared objects) and HTML5 local
                    storage. Flash cookies are small files similar to browser
                    cookies, but which are not stored in the browser and can
                    also be used to remember your settings, to personalize the
                    look and feel of the Services, or for advertising and
                    analytics. You may prevent Flash cookies from being stored
                    by following the instructions provided by Adobe at
                    <a
                      class="btn-link"
                      target="”_blank”"
                      href="http://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html"
                      >http://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html</a
                    >
                    .
                  </p>
                  <br />
                  <p>
                    <span>Web Beacons and pixel tags:</span> A “web beacon” or a
                    “pixel tag” is an electronic image (often not visible to the
                    end-user) that allows ProGloBix LLC to count users who have
                    visited certain pages or viewed certain advertisements.
                    Additionally, e-mails and other electronic communications
                    ProGloBix LLC sends to you may contain pixel tags that
                    enable ProGloBix LLC to track your usage of the
                    communication, including whether the communication was
                    opened and/or what links were followed, if any.
                  </p>
                </div>
              </div>
            </li>
            <!--7-->
            <li>
              <div class="media align-self-center">
                <div class="media-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="mt-0" style="text-align: left">
                        7. Third Party Terms and Conditions
                      </h6>
                    </div>
                  </div>

                  <p>
                    ProGloBix LLC provides you with opportunities to connect
                    with third-party applications or services. If you choose to
                    use any such third-party applications or services, ProGloBix
                    LLC may share personal data about you including your
                    username and any content you choose to use in connection
                    with those applications and services, and such third parties
                    may contact you directly as necessary. This Privacy Policy
                    does not apply to your use of such third-party applications
                    and services, and we are not responsible for how those third
                    parties collect, use and disclose your personal data,
                    content, and other information. We encourage you to review
                    the privacy policies of those third parties before
                    connecting to or using their applications or services to
                    learn more about their information and privacy practices.
                  </p>
                  <br />
                  <p>
                    Certain Services that ProGloBix LLC may offer, such as
                    social networking services, may use third party services to
                    provide authentication for the Services with a social
                    networking ID or other account information. In connection
                    with such use, certain personally identifiable user and/or
                    membership data may be transferred automatically to and from
                    ProGloBix LLC.
                  </p>
                  <br />
                  <p>
                    ProGloBix LLC may disclose your personal data to third
                    parties in connection with a corporate merger,
                    consolidation, restructuring, the sale of some or all of
                    ProGloBix LLC’s stock and/or assets or other corporate
                    change, including, without limitation, during the course of
                    any due diligence process provided, however, that this
                    Privacy Policy shall continue to govern such personal data.
                  </p>
                  <br />
                  <p>
                    When you click on a link to a third party website from our
                    website, your activity and use on the linked website is
                    governed by that website’s policies, not by those of
                    ProGloBix LLC. We encourage you to visit their websites and
                    review their privacy and user policies.
                  </p>
                </div>
              </div>
            </li>
            <!--8-->
            <li>
              <div class="media align-self-center">
                <div class="media-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="mt-0" style="text-align: left">
                        8. Safeguards
                      </h6>
                    </div>
                  </div>

                  <p>
                    While no service is completely secure, ProGloBix LLC takes
                    reasonable measures to help protect information about you
                    from loss, theft, misuse and unauthorized access,
                    disclosure, alteration and destruction. In addition, we
                    cannot guarantee that any passively-collected personal data
                    you choose to include in content you store on our systems
                    are maintained at levels of protection to meet specific
                    needs or obligations you may have relating to that
                    information.
                  </p>
                  <br />
                  <p>
                    You may access your account information and our Service only
                    through the use of an individual user ID and password. To
                    protect the confidentiality of personal data, you must keep
                    your password confidential and not disclose it to any other
                    person. Please advise us immediately if you believe your
                    password has been misused.
                  </p>
                  <br />
                  <p>
                    If you have any questions about the security of your
                    personal information, you can contact us at
                    <a
                      class="btn-link"
                      target="”_blank”"
                      href="mailto:support-vesta@proglobix.com"
                      >support-vesta@proglobix.com</a
                    >.
                  </p>
                </div>
              </div>
            </li>
            <!--9-->
            <li>
              <div class="media align-self-center">
                <div class="media-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="mt-0" style="text-align: left">9. Others</h6>
                    </div>
                  </div>

                  <p>
                    You may choose to disclose data about yourself in the course
                    of contributing user generated content to the Services.
                  </p>
                  <br />
                  <p>
                    Any data that you disclose in any of these forums, blogs,
                    chats or the like will become public information, and there
                    is no expectation of privacy or confidentiality with respect
                    to that data.
                  </p>
                  <br />
                  <p>
                    By accessing or using the Services or otherwise providing
                    information to ProGloBix LLC, you consent to the processing
                    and transfer of information in and to the U.S. and other
                    countries and territories, which may have different privacy
                    laws from your country of residence.
                  </p>
                  <br />
                  <p>
                    Brief reserves a right to create and change limitations and
                    allowances related to the provided services. Current
                    limitations include: ( i ) 100 documents or sections created
                    per user per month (30 calendar days); (ii) 10 gigabytes of
                    total storage capacity per user. First month (30 calendar
                    days) is calculated from the date of first sign up.
                  </p>
                  <br />
                  <p>
                    If such limits are exceeded by a user, Brief reserves the
                    right to temporarily freeze the aforementioned services
                    until the end of month or until there is no longer an
                    additional balance of minutes.
                  </p>
                </div>
              </div>
            </li>
            <!--10-->
            <li>
              <div class="media align-self-center">
                <div class="media-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="mt-0" style="text-align: left">
                        10. Special Note about Children’s Privacy
                      </h6>
                    </div>
                  </div>

                  <p>
                    ProGloBix LLC does not knowingly collect personal
                    information from children under 13 years of age. If
                    ProGloBix LLC learns that ProGloBix LLC has inadvertently
                    gathered personal data from children under 13 years of age,
                    ProGloBix LLC will take reasonable measures to promptly
                    delete such personal data from ProGloBix LLC’s records.
                  </p>
                </div>
              </div>
            </li>
            <!--11-->
            <li>
              <div class="media align-self-center">
                <div class="media-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="mt-0" style="text-align: left">
                        11. Third Party Operators
                      </h6>
                    </div>
                  </div>
                  <p>
                    Fabric (Answers, Crashlytics services) –
                    <a
                      class="btn-link"
                      target="”_blank”"
                      href="https://www.fabric.io"
                      >https://www.fabric.io</a
                    >
                  </p>
                  <br />
                  <p>
                    Google Analytics –
                    <a
                      class="btn-link"
                      target="”_blank”"
                      href="https://analytics.google.com"
                    >
                      https://analytics.google.com</a
                    >
                  </p>
                  <br />
                  <p>
                    Segment –
                    <a
                      class="btn-link"
                      target="”_blank”"
                      href="https://segment.com"
                      >https://segment.com</a
                    >
                  </p>
                  <br />
                  <p>
                    AppsFlyer –
                    <a
                      class="btn-link"
                      target="”_blank”"
                      href="https://appsflyer.com"
                    >
                      https://appsflyer.com</a
                    >
                  </p>
                </div>
              </div>
            </li>
            <!--12-->
            <li>
              <div class="media align-self-center">
                <div class="media-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="mt-0" style="text-align: left">
                        12. Contacting Us
                      </h6>
                    </div>
                  </div>
                  <p>
                    Please direct any questions about this Privacy Policy to
                    <a
                      class="btn-link"
                      target="”_blank”"
                      href="mailto:support-vesta@proglobix.com"
                      >support-vesta@proglobix.com</a
                    >
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- Container Ends -->
