.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu {
    width: 400px;
    padding: 25px;
}

.passList {
    padding-left: 30px;
    font-size: 13px;
    text-align: left;
    color: #333;
}