<!--error-400 start-->
<div class="error-wrapper">
    <div class="container">
        <div class="error-heading">
            <h5 class="headline font-info  vesta-header txt-primary">Time Out</h5>
          </div>
        <div class="col-md-8 offset-md-2">
            <p class="sub-content">The URL is not valid anymore. Please contact us to further assistance
            </p>
        </div>
        <div class="">
            <a [routerLink]="'/'" class="btn btn-primary">BACK TO HOME PAGE</a>
        </div>
    </div>
</div>
<!--error-400 end-->