<app-component-loader *ngIf="isLoading"></app-component-loader>

<!-- Container starts -->
<div class="container" *ngIf="!isLoading">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb pull-left">
                    <li class="breadcrumb-item">
                        <a [routerLink]="'/mainPage'"><i class="fa fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        {{ type == "document" ? "Document" : "Section" }}
                    </li>
                    <li class="breadcrumb-item active">History</li>
                </ol>
            </div>
            <div class="col-md-6" *ngIf="auditLog && !auditLog.length">
                <ol class="pull-right">
                    <li class="breadcrumb-item">
                        <a (click)="back()" class="btn-link pull-right f-12">
                            <i class="fa fa-angle-left"></i> &nbsp;&nbsp; Go Back</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container Ends -->
<!-- Container starts -->
<div class="container" *ngIf="!isLoading">
    <div class="row">
        <div class="col-xl-12 xl-100">
            <div class="card" *ngIf="auditLog && !auditLog.length">
                <div class="card-header" style="text-align: center; color: rgba(255, 83, 112, 0.9);">
                    {{ type == "document" ? "No Document History Found" : "No Section History Found" }}
                </div>
            </div>
            <div class="card" *ngIf="auditLog && auditLog.length">
                <div class="card-header">
                    <h5>
                        {{ name }}
                        <a (click)="back()" class="btn-link pull-right f-12">
                            <i class="fa fa-angle-left"></i> &nbsp;&nbsp; Go Back</a>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="timeline-small">
                        <div class="media m-b-50" *ngFor="let log of auditLog; let index = index">
                            <div class="timeline-round m-r-30 bg-primary" [ngClass]="{ 'timeline-line-1': auditLog.length - 1 !== index }" *ngIf="log.doc_action">
                                <i *ngIf="log.doc_action === 'edit'" class="icon-pencil"></i>
                                <i *ngIf="log.doc_action === 'comment'" class="icon-comments"></i>
                                <i *ngIf="log.doc_action === 'view'" class="icon-eye"></i>
                                <i *ngIf="
                    log.doc_action === 'collab_add' ||
                    log.doc_action === 'collab_delete' ||
                    log.doc_action === 'collab_update' ||
                    log.doc_action === 'collab_edit'
                  " class="icon-user"></i>
                                <i *ngIf="log.doc_action === 'create'" class="icon-plus"></i>
                                <i *ngIf="log.doc_action === 'delete'" class="icon-trash"></i>
                                <i *ngIf="log.doc_action === 'accept'" class="icon-check"></i>
                                <i *ngIf="log.doc_action === 'reject'" class="icon-close"></i>
                            </div>

                            <div class="timeline-round m-r-30 bg-primary" [ngClass]="{ 'timeline-line-1': auditLog.length - 1 !== index }" *ngIf="log.sec_action">
                                <i *ngIf="log.sec_action === 'edit'" class="icon-pencil"></i>
                                <i *ngIf="log.sec_action === 'comment'" class="icon-comments"></i>
                                <i *ngIf="log.sec_action === 'view'" class="icon-eye"></i>
                                <i *ngIf="
                    log.sec_action === 'collab_add' ||
                    log.sec_action === 'collab_delete' ||
                    log.sec_action === 'collab_update'
                  " class="icon-user"></i>
                                <i *ngIf="log.sec_action === 'create'" class="icon-plus"></i>
                                <i *ngIf="log.doc_action === 'accept'" class="icon-check"></i>
                                <i *ngIf="log.doc_action === 'reject'" class="icon-close"></i>
                            </div>

                            <div class="media-body">
                                <h6>
                                    {{ log?.title }}
                                    <span class="pull-right f-14">{{
                    log?.createdAt | date: "short"
                  }}</span>
                                </h6>
                                <p>{{ log?.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container Ends -->